.studentMode [data-privilege="teacher"] {
    display: none !important;
}

body {
    min-height: 100vh;
}

.events {
    padding: 20px;
    margin-top: 10px;
}

.sprints {
    margin-top: 10px;
    padding: 20px;
}

.event-section-title {
    font-size: 20px;
    font-weight: bold;
}

.project-view {
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
}

.sprint-description {
    display: none;
    overflow: hidden;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #666666;
}

.toggle-sprint-details {
    padding: 8px 12px;
}

.toggle-sprint-details:hover {
    background-color: #0332D1;
}

.navbar-items {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-items a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 10px;
    transition-duration: 0.4s;
}

.navbar-items a:hover {
    color: #43C0FE;
}

.title {
    color: white;
    font-size: 30px;
    display: flex;
    padding-right: 30px;
    margin: 0;
    padding-left: 20px;
}

.add-project {
    display: flex;
    justify-content: right;
    padding-right: 100px;
}

.add-project-button {
    margin: 15px 5px;
}

.projects {
    justify-content: center;
    padding: 0 142px 100px 100px;
}

.edit-project {
    margin-right: 5px;
}

.add-view-controls {
    display: flex;
    justify-content: right;
    margin-right: 5px;
}

.toggle-view-controls {
    display: flex;
    justify-content: right;
    margin-right: 5px;
}

.sprint-controls {
    margin-right: 5px;
}

.sprint-view {
    padding: 20px;
    margin-top: 15px
}

.event-view {
    padding: 20px;
    margin-top: 15px
}

.sprint-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.event-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.project-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px
}

.project-description {
    color: #666666;
    padding-left: 20px;
    padding-right: 180px;
    margin-bottom: 10px;
}

.toggle-sprints {
    margin-left: 10px;
}

.sprints {
    display: none;
}

.events {
    display: none;
}

.crud {
    float: right;
}

.monthly-planner-redirect {
    float: right;
    padding-left: 12px;
}

.edit-project-section {}

.edit-section-title {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.edit-project-section label {
    padding-right: 5px;
}

.user-inputs {
    padding-left: 20px;
}

.user-inputs input {
    width: 140px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.save-buttons {
    display: flex;
    justify-content: right;
    padding-right: 15px;
}
.save-buttons > button:not(:last-child) {
    margin-right: 10px;
}

.description textarea {
    background-color: transparent;
    max-width: calc(100% - 20px);
}

.description label {
    vertical-align: top;
}

@media only screen and (max-width: 960px) {

    .projects {
        padding: 0 75px 50px 30px;
    }

    .project-view {
        padding: 15px 20px;
        margin-bottom: 30px;
    }

    .add-project {
        margin-bottom: 8px;
        padding-right: 35px;
    }

    .sprint-description {
        font-size: 14px;
    }

    .project-title {
        font-size: 22px;
    }

    .sprint-view {
        margin-bottom: 10px;
        padding: 15px;
    }

    .event-view {
        margin-bottom: 10px;
        padding: 15px;
    }

    button {
        margin: 3px;
        font-size: 12px;
    }

    .edit-project {
        margin-right: 0;
    }

    .sprint-title {
        padding-bottom: 10px;
    }

    .event-title {
        padding-bottom: 10px;
    }

    .sprint-controls {
        margin-right: 0;
    }

    .add-sprint {
        margin-right: 5px;
    }

    .project-description {
        padding-right: 150px;
    }
}

@media only screen and (max-width: 640px) {

    .projects {
        padding: 0 40px 30px 20px;
    }

    .project-title {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .project-view {
        padding: 10px 10px;
        margin-bottom: 20px;
    }

    .add-project {
        padding-right: 19px;
        margin-bottom: 10px;
    }

    .sprint-view {
        margin-bottom: 10px;
        padding: 10px;
    }

    .event-view {
        margin-bottom: 10px;
        padding: 10px;
    }

    button {
        padding: 4px 6px;
        font-size: 10px;
    }

    .project-description {
        font-size: 10px;
        padding-right: 120px;
    }

    .sprint-description {
        font-size: 10px;
        padding-left: 15px;
    }


    .sprint-title {
        font-size: 13px;
        padding-bottom: 5px;
    }

    .event-title {
        font-size: 13px;
        padding-bottom: 5px;
    }

    .title {
        font-size: 25px;
    }

    .navbar-items a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 480px) {

    .projects {
        padding: 0 30px 20px 15px;
    }

    .project-view {
        padding: 8px;
        margin-bottom: 15px;
    }

    button {
        font-size: 9px;
        margin: 1px;
    }

    .add-project {
        padding-right: 14px;
        margin-bottom: 5px;
    }

    .project-title {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .project-description {
        font-size: 8px;
        padding-left: 10px;
        padding-right: 100px;
    }

    .sprint-description {
        font-size: 8px;
        padding-left: 7px;
    }

    .sprint-title {
        font-size: 10px;
    }

    .event-title {
        font-size: 10px;
    }

    .sprint-view {
        padding: 8px;
    }

    .event-view {
        padding: 8px;
    }

    .add-sprint {
        margin-right: 3px;
    }

    .title {
        font-size: 20px;
    }

    .navbar-items a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 350px) {

    .project-title {
        font-size: 9px;
    }

    .project-description {
        font-size: 7px;
    }

    button {
        font-size: 7px;
    }

    .title {
        font-size: 20px;
        padding-right: 25px;
    }

    .navbar-items a {
        font-size: 10px;
        padding-left: 0;
    }

    .sprint-title {
        font-size: 7px;
    }

    .event-title {
        font-size: 7px;
    }
    
}
