.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-padding {
    padding: 5%;
    margin: 5% 5% 5% 5%;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
}