/* The wrapper for the chip */
.chip {
    display: inline-block;
    padding: 0 0px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    border-radius: 0px 13px 13px 0px;
    background-color: #cecece;
}

/* The text label for the chip */
.label {
    padding: 0px 5px;
}

/* The close button for the chip */
.remove-button {
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    padding: 0 0;
    margin: 0 0;
    height: 100%;
    aspect-ratio: 1;
}

.remove-button:hover {
    color: #000;
    background-color: transparent;
}