<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <title>SENG302 Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="fullscreen">
    <nav>
        <div id="navbar">

            <ul class="navbar-items">
                <li>
                    <p class="title">SENG 302</p>
                </li>
                <li>
                    <a href="#index" id="home-page">Home</a>
                </li>


            </ul>
        </div>
    </nav>

    <div class="add-project">

        <div>
            <button class="button add-project-button" > Add Project</button>
        </div>
    </div>

    <div class="projects">

        <div class="project-view">
            <div class="project-title">Project 1 | 21/02/2022 - 21/02/2023
                <span class="spud">
                        <button id="edit-project" class="button">Edit</button>
                        <button class="button">Delete</button>
                </span>
            </div>
            <div class="project-details">
                <p>Project Name </p>
                <p>Description</p>
                <div class="sprint-view-controls">
                    <button class="button add-sprint" id="add-sprint"> Add Sprint</button>
                    <button class="button toggle-sprints" id="toggle-view-sprints" th:onclick="viewSprints()"> Show Sprints</button>
                </div>
            </div>
            <div class="sprints" id="sprints">
                <div class="sprint-view" id="sprint-view">
                    <div class="sprint-title">Sprint 1 | 28/02/22 - 10/03/22
                        <span class="spud">
                            <button class="button sprint-controls">Edit</button>
                            <button class="button sprint-controls">Delete</button>
                            <button class="button toggle-sprint-details" id="toggle-sprint-details" th:onclick="viewSprintDetails()">+</button>
                        </span>
                    </div>
                    <div id="sprint-details" class="sprint-details">
                        <p>Name</p>
                        <p>Description</p>
                    </div>
                </div>
            </div>
        </div>


    </div>


</body>

<script type="text/javascript" th:src="@{/scripts/indexjs.js}"></script>

</html>