<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>

    <ul style="list-style: none; display: flex; align-items: center; ">
        <li>
            <p  style="font-size: 30px; color: #000; display: flex;">SENG 302</p>
        </li>
        <li>
            <a href="#index.html"  id="home-page" style="text-decoration: none; padding-left: 50px">Home</a>
        </li>
        <li>
            <a href="#sprints.html" id="sprints-page" style="text-decoration: none; padding-left: 30px">Sprints</a>
        </li>

    </ul>
</div>

<div style="display:flex; justify-content: center; padding: 100px">
    <div style="outline-style: solid; outline-color: black; width: 100%; ">

        <p style="padding: 20px"> This is the home screen </p>
    </div>
</div>


</body>
</html>