<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sign Up</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{/styles/common.css}" />
  <link rel="stylesheet" th:href="@{/styles/modal_form.css}">
</head>

<body>
    <form action="#" th:action="@{/login}" th:object="${login}" method="post" class="raised-card form">
      <h1 class="title">Log In</h1>

      <!--    Submits a populated UserDTO to endpoint register -->
      <input type="email" th:field="*{username}" placeholder="email" autofocus/>
      <input type="password" th:field="*{password}" placeholder="password"/>

      <div class="form-error" th:if="${error != null}" th:text="${error}"></div>

      <button name="login" type="submit" value=”0”>Log In</button>
      <a href="/register">Don't have an account yet? Sign Up</a>
    </form>

</body>
</html>
