<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notifications</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{../styles/common.css}"/>
    <link rel="stylesheet" th:href="@{../styles/pages/project_details.css}">
    <link rel="stylesheet" th:href="@{../styles/navbar.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" th:src="@{../frontend/navbar.js}" defer></script>
    <script type="text/javascript" th:src="@{../frontend/notifications.js}" defer></script>
</head>
<body>
    <div id="navbar-react-root"></div>
    <div id="react-root"></div>
</body>
</html>