<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>Register User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${registerMessage}" />
<h1>Register</h1>
<form action="#" th:action="@{/registration}" th:object="${User}" method="GET">
<!--    Submits a populated UserDTO to endpoint registration -->
    First Name: <input type=”text” name=”FirstName” th:field="*{username}"/></label><br/>
    Last Name: <input type=”text” name=”FirstName” th:field="*{username}"/></label><br/>
    Personal Pronouns: <input type=”text” name=”FirstName” th:field="*{username}"/></label><br/>
    Nickname: <input type=”text” name=”FirstName” th:field="*{username}"/></label><br/>
    Bio: <input type=”text” name=”FirstName” th:field="*{username}"/></label><br/>
    <button name=”register” type=”submit” value=”0”>Register</button>

</form>
</body>
</html>