<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/styles/common.css}" />
    <link rel="stylesheet" th:href="@{/styles/modal_form.css}">
</head>

<body>

<form action="#" th:action="@{/register}" th:object="${user}" method="post" class="raised-card form">
    <h1 class="title">Sign Up</h1>
    
    <!--    Submits a populated UserDTO to endpoint register -->
    <div class="form-row">
        <label th:for="username">Username *</label>
        <input type="text" th:field="*{username}" autofocus/>
    </div>

    <div class="form-row">
        <label th:for="email">Email *</label>
        <input type="email" th:field="*{email}" />
    </div>

    <div class="form-row">
        <label th:for="password">Password *</label>
        <input type="password" th:field="*{password}"/>
    </div>

    <div class="form-row">
        <label th:for="firstName">First Name *</label>
        <input type="text" th:field="*{firstName}"/>
    </div>

    <div class="form-row">
        <label th:for="middleName">Middle Name</label>
        <input type="text" th:field="*{middleName}"/>
    </div>

    <div class="form-row">
        <label th:for="lastName">Last Name *</label>
        <input type="text" th:field="*{lastName}"/>
    </div>

    <div class="form-row">
        <label th:for="nickname">Nickname</label>
        <input type="text" th:field="*{nickname}"/>
    </div>

    <div class="form-row">
        <label th:for="pronouns">Personal Pronouns</label>
        <input type="text" th:field="*{pronouns}" placeholder="Pronouns"/>
    </div>

    <div class="form-row">
        <label th:for="bio">Bio</label>
        <textarea th:field="*{bio}" placeholder="Bio"></textarea>
    </div>

    <div class="form-error" th:if="${registerMessage != null}" th:text="${registerMessage}"></div>

    <button name="register" type="Submit" value="0">Register</button>
    <a href="/login">Have an account? Login</a>
</form>

</body>
</html>
