<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    h1 {
        text-align: center;
        font-weight:normal;

    }
    form{
        text-align: center;
    }
    input{
        width: 50%;
        height: 25%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    button{
        border: solid;
        border-width: thin;
        padding: 15px 60px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
    }
    href{
        text-align: center;
    }
    </style>
</head>
<body>
<h1>Sign Up<br/></h1>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <!--    Submits a populated UserDTO to endpoint register -->
    Username*: <br/><input class="form-control" type="text" th:field="*{username}" id="username" th:required="required"/>
    <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div><br/>
    Password*: <br/><input type="password" th:field="*{password}" id="password" th:required="required"/><br/>
    <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div><br/>
    First Name*: <br/><input type="text" th:field="*{firstName}" id="firstName" th:required="required"/><br/>
    <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div><br/>
    Middle Name: <br/><input type="text" th:field="*{middleName}" id="middleName" /><br/>
    Last Name*: <br/><input type="text" th:field="*{lastName}" id="lastName" th:required="required"/><br/>
    <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div><br/>
    Nickname: <br/><input type="text" th:field="*{nickname}" id="nickname" /><br/>
    Bio: <br/><input type="text" th:field="*{bio}" id="bio"/><br/>
    Pronouns: <br/><input type="text" th:field="*{pronouns}" id="pronouns"/><br/>
    Email*: <br/><input type="text" th:field="*{email}" id="email" th:required="required"/><br/>
    <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div><br/>

    <button name=”register” type=”Submit” value=”0”>Register</button><br/>
    <a href="http://localhost:9000/login">Have an account? Login</a>
</form>

</body>
</html>
