<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="navbar">

    <ul style="list-style: none; display: flex; align-items: center; ">
        <li>
            <p style="font-size: 30px; color: #000; display: flex;">SENG 302</p>
        </li>
        <li>
            <a href="#index" id="home-page" style="text-decoration: none; padding-left: 50px">Home</a>
        </li>
        <li class="navbar__item">
            <a href="#sprints" id="sprints-page" style="text-decoration: none; padding-left: 30px">Sprints</a>
        </li>

    </ul>
</div>
<div id="addProjectDiv" style="display:flex; justify-content: right; padding: 0 100px">

    <div>
        <button style="padding: 5px 10px; margin: 10px 0"> Add Project</button>
    </div>
</div>

<div id="projectView" style="display:flex; justify-content: center; padding: 0 100px">

    <div class="box">
        <p style=" font-size: 25px"> Project 1
            <span> | </span>
            <span>21/Feb/2022</span>
            <span> - </span>
            <span>21/Feb/2023</span>
        </p>

        <p>Project Name </p>
        <p>Description</p>
        <div style="display:flex; justify-content: left">
            <button style="padding: 5px 10px;"> Add Sprint</button>
        </div>

        <div style="outline-style: solid; outline-color: black; padding: 20px; margin-top: 30px; ">
            <div>Sprint 1
            <button class="collapsible">+</button><button>Edit</button><button>Delete</button></div>
            <div id="content" class="content">
                <p>Name</p>
                <p>Description</p>
            </div>
        </div>
    </div>



</div>


</body>

<script>
    /*
    Adapted from https://www.w3schools.com/howto/howto_js_collapsible.asp
     */
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = document.getElementById("content");
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

<style>
    .box {
        outline-style: solid;
        outline-color: black;
        width: 100%;
        padding: 40px;
    }
    

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
    }

</style>

</html>