<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/styles/common.css}" />
    <link rel="stylesheet" th:href="@{/styles/table.css}" />
</head>
<body>
    <h1>Users</h1>
    <div>
        Displaying users ${} of ${}
        <button id='previous' name="previous" type="submit" value="0">Previous Page</button>
        <button id='next' name="next" type="submit" value="1">Next Page</button>
    </div>
    <table>
        <tbody>
            <tr>
                <th class="headerSortUp" onclick="sortTable(0)">Name</th>
                <th class="headerSortDown" onclick="sortTable(1)">Username</th>
                <th class="headerSortDown" onclick="sortTable(2)">Alias</th>
                <th class="headerSortDown" onclick="sortTable(3)">Roles</th>
            </tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.username}"/>
                <td th:text="${user.username}"/>
                <td th:text="${user.username}"/>
                <td th:text="${user.username}"/>
            </tr>
        </tbody>
    </table>

</body>
</html>